<li class="">
    <a href="/Cart/Index"><i class="fa-solid fa-cart-shopping text-primary" style="margin-right: 15px;"></i></a>

    @{ string userName = Model.UserName;}
    @Html.ActionLink(linkText: userName,
                actionName: "Index",
                controllerName: "Profile",
                routeValues: new { area = "" },
                htmlAttributes: new { @style = "text-decoration: none;" })

    <img src=@Model.Avatar class="rounded-circle" style="width: 1.5em; height:1.5em; border: 1px solid white;"
         alt="Avatar" />

</li>

